
:root {
    --violet: rgb(9, 18, 32);
    --white: rgb(201, 209, 236); 
    --black: rgb(13, 30, 56);
    --green: rgb(105, 236, 206);
}

body {
    overflow-x: hidden;
    background-color:var(--black)
}

.flex-sm {
    display: flex;
    justify-content: space-around;
}

.p1 {
    padding: 1rem;
}

.my1 {
    margin: 1rem 0rem;
}

.d-ib {
    display: inline-block;
}

.d-b {
    display: block;
}

.w-50 {
    max-width: 50%;
}

.white {
    color: var(--white);
}

.ai-c {
    align-items: center;
}

.ta-c {
    text-align: center;
}

.m-a {
    margin: 0 auto;
}

@media screen and (min-width: 700px){
    .flex-md {
        display: flex;
        justify-content: space-around;
    }
    
}

/*typography*/

.black {
    color: var(--black);
}

h1, h2, h3,
nav a {
    font-family: 'Roboto Mono', sans-serif;
}

body h1 {
    line-height: 1;
}

p, a,
input {
    font-family: 'Source Sans Pro', sans-serif;
    color: var(--white);
    max-width: 95vw;
}

h1 {
    font-size: clamp(2.4rem, 5.2vw, 5rem);
    text-align: center;
    color: var(--green);
    min-width: 50vw;
}

h2 {
font-size: clamp(2.4rem, 5.2vw, 5rem);
color: var(--green);
text-align: center;
}

h3, .subtitle{
    font-size: clamp(1.125rem, 2.52vw, 2.25rem);
    color: var(--green)
}

p {
    font-size: clamp(1rem, 1.9vw, 1.31rem);
}

nav a,
nav button{
    color: var(--white);
    text-decoration: none;
    font-size: clamp(1rem, 1.9vw, 1.31rem);
}

.welcome-banner p {
    font-size: clamp(1rem, 1.9vw, 1.31rem);
    color: var(--white);
    font-family: 'Roboto Mono', sans-serif;
}


@media only screen and (min-width: 1118px) {
    .header-banner-flex{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 2.5rem;
    }
    .welcome-banner .transparent-link {
        margin-left: .7rem;
    }
}

.display-paragraph {
    font-size: clamp(1.125rem, 2.52vw, 2.25rem);
    font-family: 'Libre Baskerville', serif;
}

/*header*/
header {
    position: relative;
    top: 3rem;
    margin-top: -3.2rem;
}


nav button {
    border: none;
}

nav a:hover,
nav a:active {
    text-decoration: underline;
    color: white;
}

.inner-nav {
    background: rgba(204, 162, 226, 0);
    display: flex;
    align-items: flex-start;
    max-width: 1300px;
    height: 50px;
    overflow: hidden;
    margin: 0 auto;
    transition: all .7s ease-in-out;
}

.nav-links li,
.nav-links li > a {
    height: 50px;
}

.nav-links li > a {
    padding: 1rem .5rem;
}

.show {
    height: 360px;
    background: rgba(204, 162, 226, 0.90);
}

@media only screen and (min-width: 418px) {
    .show {
        height: 200px;
    }
}

@media only screen and (min-width: 504px) {
    .show {
        height: 100px;
    }
    .logo {
        margin-left: 0.5rem;
    }
}

@media only screen and (min-width: 816px) {
    nav button {
        visibility: hidden;
    }
    .show {
        height: 50px;
    }
}

.nav-links {
    margin: 0;
    padding: 0;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    line-height: 50px;
}

.logo {
    position: relative;
    margin-right: .3rem;
    border: .2rem solid rgb(105, 236, 206);
    top: 0.4rem;
    padding: 0.2rem;
    min-width: 6.3rem;
    text-align: center;
    border-radius: .3rem;
}

.logo a {
    position: initial;
    top: 13px;
    padding: .8rem 0;
    font-family: 'Source Sans Pro', sans-serif;
}

nav button {
    height: 50px;
    min-width: 74px;
    background-color: rgba(0, 0, 0, 0);
}
nav button svg {
    transition: all .3s ease-in-out;
}

nav button:active > svg {
    fill: gray;
    stroke: gray;
    color: gray;
}

/*main content*/

aside {
    position: sticky;
    margin-left: 100%;
    top: 1.5rem;
}

aside nav {
    position: relative;
    right: 133px;
}

aside li {
    margin-bottom: 1.5rem;
}

.intro-pic {
    margin: 0 auto;
}
@media screen and (min-width: 700px) {
    aside nav {
        position: relative;
        right: 151px;
    }

    .intro-pic {
        margin: 0;
    }
}

.content {
    padding: 0rem .5rem;
}

.welcome-banner h1 {
    padding-top: 14vh;
}

.intro {
    padding-top: 5rem;
}

.subtitle {
    text-align: center;
}

.welcome-banner {
    background-color: var(--violet);
}

.intro-pic {
    max-width: 49vw;
}

@media screen and (min-width:1000px) {
    .welcome-banner {
        max-height: 57rem;
    }

    .welcome-banner .container{
        bottom: 70vh;
    }
}

.center-banner {
    text-align: center;
}

@media screen and (min-width: 500px) {
    .center-banner > .container > .display-paragraph {
        width: 75vw;
        margin: 0 auto;
    }
}

.center-container {
    max-width: 50rem;
    margin: 0 auto;
}

.center-container h2,
.center-container h3,
.center-container p,
.center-container a,
.center-container img,
.center-container>* {
    text-align: center;
    margin: 0 auto;
}


@media screen and (min-width: 700px) {
    .project-flex {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .project-flex section {
        flex-basis: 48%;
    }
}

#contact-me a {
    display: inline-block;
    margin: 1.5rem auto;
    
}

section {
    padding: 2.5rem 0rem;
}

.container {
    margin: 0 .5rem;
    max-width: 1300px;
}
@media screen and (min-width: 1300px) {
    .container {
        margin: 0 auto;
        max-width: 1300px;
    }
}

main a,
input[type=search] {
    border-radius: 10rem;
    border: .2rem solid rgb(105, 236, 206);
    padding: .5rem;
    text-decoration: none;
    margin-bottom: 1rem;
}

input[type=search] {
    border-color: var(--violet);
}

@media screen and (min-width: 700px) {

    .flex {
        display: flex;
    }

    .flex-sb {
        justify-content: space-between;
    }
}

/*footer*/
footer {
    padding: 2rem 0rem;
    background-color: var(--violet);
}
